// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

$skinMainFirstColor: #191919!default;
$skinMainSecondColor: #D65C33!default;
$skinBorderWindowColor: #F0C2B2!default;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "wigu/active_admin_theme";
// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }



.label_error{
	margin-left: 21%;
	color: red;
}
.time_holder
{
	margin-left: 91%;
    width: 10% !important;
}
  @import "pickadate/classic";
  @import "pickadate/classic.date";
  @import "pickadate/classic.time";
  
.your_class {
width: 50%;
}


#wrapper .flashes .flash {
    background-image: none;
    color: #ffffff;
    text-shadow: none;
}
body.logged_in .flash {
    background-color: red;
    background-image: linear-gradient(180deg, #f7f1d3, #f5edc5);
    border-bottom: 1px solid #eee098;
    color: #cb9810;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1em;
    padding: 13px 30px 11px;
    position: relative;
    text-shadow: 0 1px 0 #fafafa;
}